.ct-03{
    max-width: 1060px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.ct-03 {
    margin-top:75px;
}
.container-03 h1{
    font-size: 2.7rem;
    font-weight: 300;
    font-family: "NeueMontreal";
}
.container-03 p{
    margin-top: 50px;
    width: 80%;
    font-family: "Inter";
    font-weight: 100;
    font-size: 1rem;
    margin-bottom: 50px;
    line-height: 25px;
}
.container-03 li{
    align-items: center;
    font-family: "Inter";
    flex-wrap: nowrap;
    list-style: none;
    border-bottom: solid 2px #1E1E1E;
   width: 85%;
    padding-bottom: 5px;
    gap: 25px;
    line-height: 25px;
}